<div class="doctors">
    <div class="table-content">
        <table>
            <thead>
                <tr>
                    <th>Doctor User Name</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Major</th>
                    <th colspan="2"></th>
                </tr>
            </thead>
            <tbody>
                {{#doctors}}
                <tr>
                    <td>{{userName}}</td>
                    <td>{{doctorName}}</td>
                    <td>{{email}}</td>
                    <td>{{phone}}</td>
                    <td>{{major}}</td>
                    <td>
                        <a href="update/{{_id}}">
                            <img src="../img/edit.png" alt="">
                        </a>
                    </td>
                    <td>
                        <a href="delete/{{_id}}" onclick="return confirm('Are you sure to delete this Doctor ?');">
                            <img src="../img/remove.png" alt="">
                        </a>
                    </td>
                </tr>
                {{/doctors}}
            </tbody>
        </table>
        <div class="add-doctor">
            <a class="btn" href="/admin/add">New Doctor</a>
        </div>
    </div>
</div>